version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8
    steps:
       - checkout
       - run: echo "A first hello1"
       build:
    docker:
      - image: circleci/node:8
    steps:
       - checkout
       - run: echo "A first hello2"